<mjml>
  <mj-head>
    <mj-font name="Lobster" href="https://fonts.googleapis.com/css?family=Lobster" />
    <mj-font name="Playfair Display" href="https://fonts.googleapis.com/css?family=Playfair+Display" />
  </mj-head>
  <mj-body>
    <mj-raw>
      <!-- Image Header -->
    </mj-raw>
    <mj-section background-color="#000000">
      <mj-column width="600px">
        <mj-image padding-bottom="0" width="300px" src="https://secdsm.org/images/secdsm-huge.png?monthly_reminder"></mj-image>
        <mj-text align="center" color="#fff" font-size="40px" font-family="Playfair Display">Come Learn</mj-text>
        <mj-text align="center" color="#fff" font-style="italic" font-size="30px" font-family="Lobster">Network and Information Security</mj-text>
        <mj-text padding-bottom="0" align="center" color="#fff">1420 Locust St, Des Moines, IA 50309</mj-text>
        <mj-text padding-top="0" align="center" color="#fff">21 Feb 2019 - 6PM</mj-text>
      </mj-column>
    </mj-section>
    <mj-section padding-bottom="0px" background-color="#fafafa">
      <mj-column width="600px">
        <mj-text font-size="16px">
          Join us at SecDSM on <strong>February 21th, 2019</strong> for food, drink, and the most attended monthly security meeting in Iowa! You won't want to miss this meeting as we explore securing legacy systems and deploying honeypots.
        </mj-text>
        <mj-text font-size="16px">
          CTO of Ensoft and Co-PI on two DARPA programs, Jeremas Sauceda introduces a different approach to securing large legacy systems than replacing them. Jeremas will explain the basic science of symmetries and how to use them to build transformation tools
          to secure large legacy software. If you are currently attempting to secure multi-million line software created many moons ago, this is the talk for you!
        </mj-text>
        <mj-text font-size="16px">
          SecDSM Co-Founder Nate Subra will be providing an introduction to Honeypots. Come learn the difference between many different "honeypot" style solutions, how honeypots can provide valuable threat intelligence, and several use cases for honeypots. After
          this talk, you'll be ready to catch <a href="https://en.wikipedia.org/wiki/Fancy_Bear">Fancy</a> and <a href="https://en.wikipedia.org/wiki/Cozy_Bear">Cozy</a> Bears and maybe even some <a href="https://en.wikipedia.org/wiki/Numbered_Panda">Pandas</a> with your own honeypots.
        </mj-text>

        <mj-text font-size="16px">
          This month is sponsored by ISSA - Des Moines.
        </mj-text>
      </mj-column>
    </mj-section>
    <mj-section padding-bottom="0px" background-color="#fafafa">
      <mj-column width="600px">
        <mj-text padding-left="10px" font-style="italic" font-size="24px" font-family="Helvetica Neue">
          What is happening this month at SecDSM?
        </mj-text>
      </mj-column>
    </mj-section>
    <mj-raw>
      <!-- Presentations -->
    </mj-raw>
    <mj-section padding-bottom="0px" background-color="#fafafa">
      <mj-column width="600px">
        <mj-text padding-bottom="0px" padding-left="10px" font-style="italic" font-size="20px" font-family="Helvetica Neue">
          <strong>Presentations</strong>
        </mj-text>
        <mj-text padding-bottom="0px" font-weight="1000" font-size="16px" color="#525252">
          <strong>Using Symmetries to Secure Large Legacy Software</strong>
        </mj-text>
        <mj-text padding-bottom="0px" color="#525252">
          Replacing large legacy software is not possible. The cost and time needed to replicate the complex requirements existing systems fulfill is astronomical. Meanwhile an adversary only needs one vulnerability to hack critical infrastructure or a cyber-physical
          system. These vulnerabilities took decades to accumulate, and with current technology will take decades to secure.\n Solutions that exploit symmetry in software offer a different approach to securing large legacy systems much faster than is
          possible with current techniques. In this talk, we will explore what symmetries are and how to use them to build a new generation of highly accurate and scalable program analysis and transformation tools to secure large legacy software. We will
          present results from two multi-million dollar DARPA cybersecurity programs, which highlight the basic science of symmetries and the monumental engineering challenge of building tools that scale to multi-million line software.
        </mj-text>
        <mj-text padding-bottom="0px" font-weight="1000" font-size="16px" color="#525252">
          <strong>Honeypots: A Primer</strong>
        </mj-text>
        <mj-text padding-bottom="0px" color="#525252">
          Ever wanted to run your own honeypot but didn't know where to start? Not sure on the various use cases of a honeypot? What's the difference between a honey(token|pot|net)??? Do you feel like you could use a honeypot in your offensive/defensive arsenal
          and are looking for ideas on how/when/where to implement them? This talk is for you.
        </mj-text>
      </mj-column>
    </mj-section>
    <mj-raw>
      <!-- Side Events -->
    </mj-raw>
    <mj-section padding-bottom="0px" background-color="#fafafa">
      <mj-column width="600px">
        <mj-text padding-bottom="0px" padding-left="10px" font-style="italic" font-size="20px" font-family="Helvetica Neue">
          <strong>Side Events</strong>
        </mj-text>
        <mj-text padding-bottom="0px" font-weight="1000" font-size="16px" color="#525252">
          <strong>MiniCTF</strong>
        </mj-text>
        <mj-text padding-bottom="0px" color="#525252">
          Come test your skills against some of the best and brightest hackers Iowa has to offer in the MiniCTF.
        </mj-text>
        <mj-text padding-bottom="0px" font-weight="1000" font-size="16px" color="#525252">
          <strong>After Event</strong>
        </mj-text>
        <mj-text padding-bottom="0px" color="#525252">
          Don't let the fun stop after the meeting, head over to <a href="https://goo.gl/maps/yKDjSKrEoh42">Gas Lamp</a> this month to keep the fun going into the night.
        </mj-text>
      </mj-column>
    </mj-section>
    <mj-raw>
      <!-- Other Upcoming Events -->
    </mj-raw>
    <mj-section padding-bottom="0px" background-color="#fafafa">
      <mj-column width="600px">
        <mj-text padding-bottom="0px" padding-left="10px" font-style="italic" font-size="20px" font-family="Helvetica Neue">
          <strong>Other Upcoming Events</strong>
        </mj-text>
        <mj-raw>

          <!-- title -->
        </mj-raw>
        <mj-text padding-bottom="0px" font-weight="1000" font-size="16px" color="#525252">
          <a href="https://kernelcon.org/" class="link-nostyle">Kernelcon</a> - Fri April 5th and Sat April 6th
        </mj-text>
        <mj-raw>
          <!-- details -->
        </mj-raw>
        <mj-text padding-bottom="0px" color="#525252">
          Kernelcon is the result of many motivated information security professionals who recognized the opportunity to create an awesome security conference in Omaha. The idea for Kernelcon started within the local DEF CON Group, DC402, with lots of help from
          other members of other local security groups such as NebraskaCERT and OWASP.
        </mj-text>
        <mj-raw>
          <!-- title -->
        </mj-raw>
        <mj-text padding-bottom="0px" font-weight="1000" font-size="16px" color="#525252">
          <a href="https://cyphercon.com/cyphercon-4-0/" class="link-nostyle">CyperCon</a> - Thu April 11th and Friday April 12th
        </mj-text>
        <mj-raw>
          <!-- details -->
        </mj-raw>
        <mj-text padding-bottom="0px" color="#525252">
          CYPHERCON is an Hacker Conference Based in Wisconsin. Topics include Information Security, Cryptography, Forensics, and other security oriented topics. CypherCon 2019 is the fourth year of the event. 2019 anticipates 900-1100 Attendees.
        </mj-text>
        <mj-text padding-bottom="0px" font-weight="1000" font-size="16px" color="#525252">
          <a href="https://bsidesiowa.com/" class="link-nostyle">BSidewsIowa</a> - Sat April 20th
        </mj-text>
        <mj-text padding-bottom="0px" color="#525252">
          BsidesIowa, a completely volunteer run information security conference, returning for its 6th year in April of 2019! BsidesIowa is currently looking for sponsors!
        </mj-text>
      </mj-column>
    </mj-section>
    <mj-section background-color="#fafafa" padding-bottom="0px">
      <mj-column width="600px">
        <mj-text padding-left="10px" font-style="italic" font-size="16px">
          What is SecDSM?
        </mj-text>
        <mj-text font-size="16px">
          Founded in Feb of 2016, SecDSM is a 501(c)(c3) citysec based in Des Moines, IA.
        </mj-text>
        <mj-text padding-bottom="0px" font-size="16px">
          SecDSM meets <strong>every third Thursday of the month</strong> and provides a unique opportunity to learn something new and meet some of the best cyber security professionals in the area. We are the largest cyber security monthly meetup in
          Iowa, commonly reaching 80+ attendees every month.
        </mj-text>
        <mj-text padding-bottom="0px" font-size="16px">
          For more information check out our <a href="https://secdsm.org/about">about page</a> and our previous presentations on <a href="https://www.youtube.com/SecDSM/videos">YouTube</a>
        </mj-text>
        <mj-text padding-bottom="0px" font-size="16px">
          The mission of SecDSM is to provide a free, vendor-neutral forum for the expansion and dissemination of industry knowledge, to extend the culture of security awareness, and enable members to make informed, and educated security decisions.
        </mj-text>
      </mj-column>
    </mj-section>
    <mj-raw>
      <!-- unsubscribe -->
    </mj-raw>
    <mj-section background-color="#fbfbfb">
      <mj-column>
        <mj-text padding-bottom="0px" align="center" font-size="10px">If you'd prefer to not receive monthly reminders/invitations - just let me know by replying to this email</mj-text>
      </mj-column>
    </mj-section>
  </mj-body>
</mjml>